body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(186, 223, 223);
}

header {
    background-color: #1b1d1d;
    color: white;
    padding: 1.5em; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: 100%; 
}

.logo {
    margin-bottom: 1em; 
}

.logo img {
    width: 30px;
    height: auto;
}

.site-title {
    color: #fff;
    margin-left: 0.5em; 
    font-size: 1.2em; 
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: column; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0.5em 0; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


#szolg {
    text-align: center;
    margin: 20px 0; 
}

#szolg h2 {
    font-size: 24px; 
    margin-bottom: 10px; 
    color: #333;
}

#services {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
    padding: 10px; 
    background-image: url('szolg_hatter.avif');
}

.service {
    background-color: #ffffff;
    padding: 10px 20px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    width: 90%; 
    max-width: 400px;
    text-align: center;
}

.service h2 {
    font-size: 14px; 
    color: #555;
}

.service:hover {
    background-color: #f0f0f0;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    padding: 10px; 
    margin: 10px; 
    background-color: white;
    border-radius: 8px;
}

.container {
    max-width: 90%; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px; 
}

input {
    padding: 10px;
    width: 80%; 
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#imageResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-card {
    margin: 10px;
}

.image-card img {
    width: 100px; 
    height: auto;
    border-radius: 4px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background: #1b1d1d;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    header {
        padding: 1em;
    }
    
    nav ul {
        flex-direction: column; 
    }

    .service {
        width: 90%; 
    }

    .image-card img {
        width: 80px;
    }
}
