body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #373232;
    color: white;
   /* align-items: center;*/
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.logo {
    margin-right: auto; /* Logó bal oldalon */
}

.logo img {
    width: 30px;
    height: auto;
}

.site-title {
    color: #fff;
    margin-left: 1em;
    font-size: 1.5em;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style-type: none; /* Pontok eltüntetése */
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.rolunk {
    background-image: url('peter_apostol_vardob.jpg'); /* Az elérési út a háttérképhez */
    background-size: cover; /* A kép méretezése a teljes elem lefedéséhez */
    background-position: center; /* A kép középre igazítása */
    padding: 20px;
   /* color: white; A szöveg fehérre állítása, hogy jól olvasható legyen */
}

.szolg {
    background-image: url('hatterkep1.jpg'); /* Az elérési út a háttérképhez */
    background-size: cover; /* A kép méretezése a teljes elem lefedéséhez */
    background-position: center; /* A kép középre igazítása */
    padding: 20px;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background: #373232;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}